@import url('https://fonts.googleapis.com/css?family=Roboto:300i');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  font-family: 'Roboto', sans-serif;
  color: rgba(225, 237, 233, 0.2));
  background-color: rgba(0,0,0,0.1);
}